h1 {
    color: goldenrod;
}


body {
    text-align: center;
}

table {
    margin: auto;
}

td {
    font-size: large;
    height: 20px;
    width: 20px;
}

.show-cell {
    background-color: red;
}

.hide-cell {
    background-color: green;
}

button {
    font-size: large;
    margin: auto;
    border-radius: 5px;
    border-width: 4px;
    border-color: goldenrod; 
    color: goldenrod;
    background-color: black; 
}

button:hover {
    cursor: pointer;
    color: rgb(119, 91, 21);
    background-color: rgb(0, 0, 0);
}

